body,h2,p{
  font-family: "Source Sans Pro", sans-serif;
}
h2 {
  font-size: 2.3em;
  text-align: left;
}

p {
  font-weight: 500;
  text-align: left;
  width: 550px;
}

.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-content {
  flex: 1;
  padding: 20px;
  margin-left: 70px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 50%;
}

.slide-content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 1em;
}

.slide-image {
  flex: 1;
  text-align: right;
  margin-right: 170px;
}

.slide-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}
.partners-banner-module--wrapper--T3VMa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  container-type: inline-size
}

.partners-banner-module--content--5NknS {
  padding: 2.4rem;
  width: 100%
}

@media(min-width: 43.81rem) and (max-width:61.25rem) {
  .partners-banner-module--content--5NknS {
      padding:3.2rem 2.4rem
  }
}

@media(max-width: 43.75rem) {
  .partners-banner-module--content--5NknS {
      padding:4.8rem 2.4rem
  }
}

@container(inline-size < 61.31rem) {
  .partners-banner-module--content--5NknS {
      padding: 3.2rem2.4rem;
  }
}

@media(inline-size < 61.31rem) and (max-width: 23.44rem) {
  .partners-banner-module--content--5NknS {
      padding:3.2rem 0
  }
}

.partners-banner-module--heading--RPlRN {
  color: #6a6f73;
  font-weight: 400;
  margin-bottom: 2.4rem;
  font-size: 1.3rem;
  max-width: 100%;
  text-align: center;
}

@media(max-width: 43.75rem) {
  .partners-banner-module--heading--RPlRN {
      font-size:1.6rem
  }
}

@container(inline-size < 43.81rem) {
  .partners-banner-module--heading--RPlRN {
      font-size: 1.6rem;
  }
}

.partner-logos-module--item--M8vYZ {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center
}
.partner-logos-module--list--l2SC7 {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-self: normal
}



// :host{
//   :ng{
//     .p-card{
//       background-color: whitesmoke;
//       color: rgb(15, 15, 15);
//       margin-left: 50px;
//     }
//   }
// }