<div class="slider-container">
  <div class="slider" [style.transform]="getSliderTransform()">
    <!-- Slide 1 -->
    <div class="slide" style="background-color: #ffebcda1;">
      <div class="slide-content">
        <h2>{{ slides[0].title }}</h2>
        <p>{{ slides[0].description }}</p>
      </div>
      <div class="slide-image">
        <img [src]="slides[0].image" style="width: 100%;" alt="Slide Image">
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="slide" style="background-color: #9b9b9b75;">
      <div class="slide-content">
        <h2>{{ slides[1].title }}</h2>
        <p>{{ slides[1].description }}</p>
      </div>
      <div class="slide-image">
        <img [src]="slides[1].image" style="width: 100%;" alt="Slide Image">
      </div>
    </div>
  </div>
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>
<div class="row">
  <div>
  
  
      <div class="component-margin logged-out-home-page--partners-banner--cv4IK" data-purpose="partners-banner">
          <div class="ud-container">
              <div class="partners-banner-module--wrapper--T3VMa">
                  <div class="partners-banner-module--content--5NknS">
                      <h2 class="partners-banner-module--heading--RPlRN">
                          Dünyanın dört bir yanından 15.000 + şirket ve milyonlarca öğrenci güveniyor</h2>
                      <ul class="ud-unstyled-list partner-logos-module--list--l2SC7">
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/volkswagen.svg" alt="Volkswagen logo"
                                  width="48" height="48" loading="lazy">
                          </li>
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/samsung.svg" alt="Samsung logo"
                                  width="101" height="34" loading="lazy">
                          </li>
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/cisco.svg" alt="Cisco logo" width="87"
                                  height="40" loading="lazy">
                          </li>
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/att.svg" alt="ATT&amp;T logo"
                                  width="97" height="40" loading="lazy">
                          </li>
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/procter_gamble.svg"
                                  alt="Procter &amp; Gamble logo" width="48" height="48" loading="lazy">
                          </li>
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/hewlett_packard_enterprise.svg"
                                  alt="Hewlett Packard Enterprise logo" width="94" height="40" loading="lazy">
                          </li>
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/citi.svg" alt="Citi logo" width="62"
                                  height="40" loading="lazy">
                          </li>
                          <li class="partner-logos-module--item--M8vYZ">
                              <img src="https://s.udemycdn.com/partner-logos/ou-v1/ericsson.svg" alt="Ericsson logo"
                                  width="55" height="48" loading="lazy">
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>





  