<div class="header">
    <div class="tophead" *ngIf="isBootcampExists">
        <p-toast />

        <!-- <h1>{{this.bootcampName}}</h1> -->
        <h1>{{ this.bootcampFullName }}</h1><br>
        <p style="margin-bottom: 0.3rem;">En temelden başlayıp, çok fazla teknolojiyi kullanma konusunda alanında uzman
            eğitmenden ders alarak profesyonel olmak senin elinde!</p>
        <p>Bootcamp'ten başarıyla mezun ol iş fırsatlarını yakala.Kariyerine değer katmak için hemen başvur ve yazılım
            dünyasında fark yarat!</p>

        <button (click)="applyToBootcamp()" *ngIf="isBootcampActive" class="btn btn-success btn-lg">Hemen Başvur</button>

        <button *ngIf="!isBootcampActive" class="btn btn-secondary btn-lg" disabled>Başvurular Tamamlandı</button>

        <!-- <p *ngIf="isBootcampActive ? 'active' : 'inactive'">
            <button (click)="applyToBootcamp()" *ngIf="isBootcampActive" class="btn btn-success btn-lg"
                [disabled]="isApplicationButtonDisabled()">Hemen Başvur</button>
        </p> -->

    </div>
</div>
<div class="container" *ngIf="isBootcampExists">
    <div class="info-card">
        <div>
            <h3>ÖDÜL BİLGİSİ</h3>
            <p>Ücretsiz</p>
        </div>
        <div>
            <h3>YER</h3>
            <p>Online</p>
        </div>
        <div>
            <h3>ETKİNLİK TARİHİ</h3>
            <p>{{this.bootcampStartDate.toString().substring(0,10)}}</p>
        </div>
        <div>
            <h3>SON BAŞVURU</h3>
            <p>{{this.bootcampEndDate.toString().substring(0,10)}}</p>
        </div>
    </div>
</div>
<div class="content" *ngIf="isBootcampExists">
    <div class="margin">
        <h2>Kimler Katılabilir?</h2>
        <ul>
            <li>Üniversite 4. sınıfta okuyup yakın zamanda mezun olacak ya da zaten mezun olmuş</li>
            <li>Yeniliklere açık, teknoloji alanındaki gelişmeleri takip ediyorsan,</li>
            <li>Yazılım dünyasına adım atmak istiyor nereden başlayacağını bilmiyorsan,</li>
            <li>Sorumluluk sahibi, inisiyatif alabilen ve çözüm odaklı biriysen bu Bootcamp tam sana göre!</li>
        </ul>
    </div>
</div>
<div class="benefits" *ngIf="isBootcampExists">
    <h2>Seni Neler Bekliyor? <span role="img" aria-label="target">💫</span></h2>
    <div class="benefit-cards">
        <div class="benefit-card">

            <img src="../../../../../assets/images/mezuniyet.png" alt="Eğitim Icon" width="180px" height="120px">
            <p>Adım adım, en temelden programcılık öğrenip piyasanın en üst seviyelerine çıkacaksınız..</p>
        </div>
        <div class="benefit-card">
            <img src="../../../../../assets/images/egitim.png" alt="Mezuniyet Icon" width="180px" height="120px">
            <p>Eğitimi tamamladıktan sonra başarıyla mezun olacaksın.</p>
        </div>
        <!-- <div class="benefit-card">
            <img src="../../../../../assets/images/bootcamp.png"
                alt="Bootcamp Icon" width="180px" height="120px">
            <p>Eğitimi başarı ile tamamlarsan QA Mastery Bootcamp'e girmeye hak kazanacaksın</p>
        </div> -->
        <div class="benefit-card">
            <img src="../../../../../assets/images/kariyer.png" alt="Kariyer Icon" width="180px" height="120px">
            <p>Alacağın sertifika ile açık pozisyonlar için değerlendirilme fırsatın olacak.</p>
        </div>
    </div>

</div>

<!-- Not Found -->
<div *ngIf="!isBootcampExists" class="d-flex justify-content-center align-items-center not-found-container">
    <div class="p-5 bg-light border">
        <h1 class="text-center text-muted">404</h1>
        <h3 class="text-muted">Etkinlik Bulunamadı</h3>
    </div>
</div>

<!-- <div class="content">
    <div class="margin">
        <ul>
            <h2>Etkinlik Detayları 📝</h2>
            <p>Test senaryolarının ve test vakalarının hazırlanması.<br>Gereksinimlerin analiz edilerek test planlarının
                oluşturulması.<br>Manuel Test:</p>
            <p>Yazılımın fonksiyonel ve fonksiyonel olmayan özelliklerinin elle test edilmesi.<br>Kullanıcı arayüzü,
                performans, güvenlik ve kullanılabilirlik testlerinin yapılması.<br>Otomatik Test:</p>
            <p>Test otomasyon araçları ile test süreçlerinin otomatikleştirilmesi.<br>Selenium, JUnit, TestNG gibi
                araçlar kullanılarak regresyon ve entegrasyon testlerinin yapılması.<br>Hata Yönetimi:</p>
            <p>Bulunan hataların raporlanması, izlenmesi ve düzeltilmesi.<br>Hata yönetim sistemlerinin
                kullanımı.<br>DevOps Entegrasyonu:</p>
        </ul>
    </div>
</div> -->