
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    position: relative;
    text-align: center;
}
.course-image-wrapper {
    overflow: hidden;
    height: 650px;
    position: relative;
}
.course-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0); 
}
.header-text {
    margin-bottom: 10px;
}
.course-name {
    color: white;
    margin-bottom: 5px;
}
.course-details {
    color: #FFD700; 
    font-weight: bold;
    font-size: medium;
}


.main-content {
    padding-top: 20px;
}
.content-box {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.content-box h2 {
    margin-bottom: 10px;
}
.content-box p {
    font-size: 16px;
}

.application-state {
    color: rgb(0, 200, 255);
    font-weight: bold;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.bootcamp-state {
    font-weight: lighter;
    font-size: large;
    position: absolute;
    right: 50%;
    top: 0%;
    transform: translateX(50%) translateY(-50%);
}

.bootcamp-state.active {
    color: rgb(166, 255, 0)
}

.bootcamp-state.inactive {
    color: rgb(255, 72, 66);
}


.footer {
    text-align: center;
    margin-top: 50px;
}
