<!-- Header -->
<header class="header">
    <!-- Kurs Fotoğrafı -->
    <div class="course-image-wrapper">
        <img src="https://cdn.fs.teachablecdn.com/0YNdYl2nS7iGykT3kQPZ" class="course-image" alt="Kurs Fotoğrafı">
    </div>

    <!-- Kurs Adı ve Başvuru Yap Butonu -->
    <div class="header-content text-center">
        <div class="header-text">
            <h1 class="course-name">{{ this.bootcampName }}</h1>
            <p class="course-details">{{ this.bootcampAfterBracket }}</p>
        </div>
        
        <button (click)="applyToBootcamp()" class="btn btn-primary apply-button" [disabled]="!isApplyPermissionGranted || !isApplicationButtonActive">
            Programa Dahil Ol
        </button>

        <p *ngIf="isApplied" class="application-state">
            {{applicationInfo.applicationStateName}}
        </p>
    </div>
</header>

<!-- Main Content -->
<main class="main-content">
    <!-- İçerik -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- İçerik Kutusu -->
                <div class="content-box">
                    <!-- İçerik Başlığı -->
                    <h2>Ödev Destekli Çalışacağız</h2>
                    <!-- İçerik Açıklaması -->
                    <p>Ödev destekli çalışma yöntemi ile pratik yaparak öğrenme.</p>
                </div>
            </div>
            <div class="col-md-4">
                <!-- İçerik Kutusu -->
                <div class="content-box">
                    <!-- İçerik Başlığı -->
                    <h2>Sorularınız Cevap Bulacak</h2>
                    <!-- İçerik Açıklaması -->
                    <p>Merak ettiğiniz her konuda detaylı sorularınızı cevaplıyoruz.</p>
                </div>
            </div>
            <div class="col-md-4">
                <!-- İçerik Kutusu -->
                <div class="content-box">
                    <!-- İçerik Başlığı -->
                    <h2>Sınav Destekli Sistem</h2>
                    <!-- İçerik Açıklaması -->
                    <p>Öğrendiğiniz konuları test edebileceğiniz sınav destekli sistem.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="footer">
    <!-- Başvuru Yap Butonu -->
    <div class="text-center">
        <button (click)="applyToBootcamp()" class="btn btn-primary apply-button" [disabled]="!isApplyPermissionGranted || !isApplicationButtonActive">
            Programa Dahil Ol
        </button>
    </div>
</footer>
