<!-- Instructors Table -->
<div class="content-container">
    <div class="card">
        <p-toast />

        <p-table #dt1 [value]="instructors.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['userName', 'email', 'companyName', 'createdDate']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedInstructors" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">    
                        <h5 class=" m-0">Eğitmenler</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[0]" (input)="filterTable($event, dt1, 0)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilter(dt1, 0)" *ngIf="filterValues[0]" pTooltip="Temizle" tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Ekle" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
                        <p-button pRipple severity="danger" label="Sil" icon="pi pi-trash" (click)="deleteSelectedInstructors(false)"
                            [disabled]="!selectedInstructors || !selectedInstructors.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="userName" style="width: 25%;">
                        Ad Soyad <p-sortIcon field="userName" />
                    </th>
                    <th pSortableColumn="email" style="min-width: 10%; max-width: 15%;">
                        Email <p-sortIcon field="email" />
                    </th>
                    <th pSortableColumn="companyName" style="width: 15%;">
                        Şirket <p-sortIcon field="companyName" />
                    </th>
                    <th pSortableColumn="createdDate" style="width: 20%;">
                        Oluşturulma Tarihi <p-sortIcon field="createdDate" />
                    </th>
                    <th style="width: 10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-instructor>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="instructor" />
                    </td>
                    <td>
                        {{ instructor.userName }}
                    </td>
                    <td>
                        {{ instructor.email }}
                    </td>
                    <td>
                        {{ instructor.companyName }}
                    </td>
                    <td>
                        {{ instructor.createdDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-pencil" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="openEdit(instructor)" pTooltip="Düzenle" tooltipPosition="top" showDelay="1150" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteInstructor(instructor, false)" pTooltip="Sil" tooltipPosition="top" showDelay="1150" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ instructors.items ? instructors.items.length : 0 }} adet Eğitmen var.
                </div>
            </ng-template>
        </p-table>

        <!-- Create Dialog -->
        <p-dialog [(visible)]="instructorCreateDialog" [style]="{ width: '600px', height: '850px' }" header="Eğitmen Oluştur" [modal]="true" styleClass="p-fluid" closeOnEscape="false">
            <ng-template pTemplate="content">
                <div class="field">
                    <small class="p-error" *ngIf="!instructorCreateRequest.firstName">*</small>
                    <label for="firstName">Ad</label>
                    <small class="p-error" *ngIf="submitted && !instructorCreateRequest.firstName">
                        Ad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="firstName" [(ngModel)]="instructorCreateRequest.firstName" required autofocus />
                </div>
                <div class="field">
                    <small class="p-error" *ngIf="!instructorCreateRequest.lastName">*</small>
                    <label for="lastName">Soyad</label>
                    <small class="p-error" *ngIf="submitted && !instructorCreateRequest.lastName">
                        Soyad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="lastName" [(ngModel)]="instructorCreateRequest.lastName" required autofocus />
                </div>
                <div class="field">
                    <small class="p-error" *ngIf="!instructorCreateRequest.email">*</small>
                    <label for="email">Email</label>
                    <small class="p-error" *ngIf="submitted && !instructorCreateRequest.email">
                        Email alanı boş olamaz.
                    </small>
                    <input type="email" pInputText id="email" [(ngModel)]="instructorCreateRequest.email" required />
                    <small class="p-error" *ngIf="submitted && (instructorCreateRequest.email && !beValidEmail(instructorCreateRequest.email))">
                        Geçerli bir Email giriniz.
                    </small>
                </div>
                <div class="field">
                    <small class="p-error" *ngIf="!instructorCreateRequest.password">*</small>
                    <label for="password">Şifre</label>
                    <small class="p-error" *ngIf="submitted && !instructorCreateRequest.password">
                        Şifre alanı boş olamaz.
                    </small>
                    <input type="password" pInputText id="password" [(ngModel)]="instructorCreateRequest.password" required />
                    <small class="p-error" *ngIf="submitted && (instructorCreateRequest.password && !strongPassword(instructorCreateRequest.password))">
                        Şifre en az; 1 Büyük karakter, 1 Küçük karakter, 2 Rakam, 1 Özel harf içermelidir.
                    </small>
                </div>
                <div class="field">
                    <label for="dateOfBirth">Doğum Tarihi</label>
                    <p-calendar id="dateOfBirth" [(ngModel)]="instructorCreateRequest.dateOfBirth" dateFormat="dd-mm-yy" [minDate]="minDate" [maxDate]="maxDate" showIcon="true" [showClear]="true"></p-calendar>
                </div>
                <div class="field">
                    <label for="nationalIdentity">Kimlik Numarası</label>
                    <input type="text" [maxLength]="11" pInputText pKeyFilter="int" id="nationalIdentity" (input)="onInputNationalId($event, 'create')" />
                    <small class="p-error" *ngIf="submitted && !(this.instructorCreateRequest.nationalIdentity?.length == 0 || this.instructorCreateRequest.nationalIdentity?.length == 11)">
                        Geçerli bir Kimlik Numarası girin.
                    </small>
                </div>
                <div class="field">
                    <small class="p-error" *ngIf="!instructorCreateRequest.companyName">*</small>
                    <label for="companyName">Şirket Adı</label>
                    <small class="p-error" *ngIf="submitted && !instructorCreateRequest.companyName">
                        Şirket Adı alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="companyName" [(ngModel)]="instructorCreateRequest.companyName" required />
                </div>

            </ng-template>
        
            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" pTooltip="Kapat" tooltipPosition="top" showDelay="1150" />
                <p-button pRipple label="Oluştur" icon="pi pi-check" [text]="true" (click)="createInstructor()" [disabled]="submitButton" pTooltip="Oluştur" tooltipPosition="top" showDelay="1150" />
            </ng-template>
        </p-dialog>
        
        <!-- Update Dialog -->
        <p-dialog [(visible)]="instructorUpdateDialog" [style]="{ width: '600px', height: '850px' }" header="Eğitmen Bilgileri" [modal]="true" styleClass="p-fluid" closeOnEscape="false">
            <ng-template pTemplate="content">
                <div class="field">
                    <small class="p-error" *ngIf="!instructorUpdateRequest.firstName">*</small>
                    <label for="firstName">Ad</label>
                    <small class="p-error" *ngIf="submitted && !instructorUpdateRequest.firstName">
                        Ad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="firstName" [(ngModel)]="instructorUpdateRequest.firstName" required autofocus />
                </div>
                <div class="field">
                    <small class="p-error" *ngIf="!instructorUpdateRequest.lastName">*</small>
                    <label for="lastName">Soyad</label>
                    <small class="p-error" *ngIf="submitted && !instructorUpdateRequest.lastName">
                        Soyad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="lastName" [(ngModel)]="instructorUpdateRequest.lastName" required autofocus />
                </div>
                <div class="field">
                    <small class="p-error" *ngIf="!instructorUpdateRequest.email">*</small>
                    <label for="email">Email</label>
                    <small class="p-error" *ngIf="submitted && !instructorUpdateRequest.email">
                        Email alanı boş olamaz.
                    </small>
                    <input type="email" pInputText id="email" [(ngModel)]="instructorUpdateRequest.email" required />
                    <small class="p-error" *ngIf="submitted && (instructorUpdateRequest.email && !beValidEmail(instructorUpdateRequest.email))">
                        Geçerli bir Email giriniz.
                    </small>
                </div>
                <div class="field">
                    <label for="dateOfBirth">Doğum Tarihi</label>
                    <p-calendar id="dateOfBirth" [(ngModel)]="instructorUpdateRequest.dateOfBirth" dateFormat="dd-mm-yy" [minDate]="minDate" [maxDate]="maxDate" showIcon="true" [showClear]="true"></p-calendar>
                </div>
                <div class="field">
                    <label for="nationalIdentity">Kimlik Numarası</label>
                    <input type="text" [maxLength]="11" pInputText pKeyFilter="int" id="nationalIdentity" (input)="onInputNationalId($event, 'update')" [value]="this.instructorUpdateRequest.nationalIdentity" />
                    <small class="p-error" *ngIf="submitted && !(this.instructorUpdateRequest.nationalIdentity?.length == 0 || this.instructorUpdateRequest.nationalIdentity?.length == 11)">
                        Geçerli bir Kimlik Numarası girin.
                    </small>
                </div>
                <div class="field">
                    <small class="p-error" *ngIf="!instructorUpdateRequest.companyName">*</small>
                    <label for="companyName">Şirket Adı</label>
                    <small class="p-error" *ngIf="submitted && !instructorUpdateRequest.companyName">
                        Şirket Adı alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="companyName" [(ngModel)]="instructorUpdateRequest.companyName" required />
                </div>
        
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" pTooltip="Kapat" tooltipPosition="top" showDelay="1150" />
                <p-button pRipple label="Güncelle" icon="pi pi-check" [text]="true" (click)="updateInstructor()" [disabled]="submitButton" pTooltip="Güncelle" tooltipPosition="top" showDelay="1150" />
            </ng-template>
        </p-dialog>

    </div>
</div>

<!--  -->
<!--  -->
<p-confirmDialog [style]="{ width: '850px' }" />
<!--  -->
<!--  -->

<!-- Deleted Instructors Table -->
<div class="content-container">
    <div class="card">

        <p-table #dt2 [value]="deletedInstructors.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['userName', 'email', 'companyName', 'deletedDate']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedDeletedInstructors" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="500px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">
                        <h5 class="m-0">Silinen Eğitmenler</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[1]" (input)="filterTable($event, dt2, 1)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilter(dt2, 1)" *ngIf="filterValues[1]" pTooltip="Temizle" tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Geri Yükle" icon="pi pi-replay" class="mr-2" (click)="restoreSelectedInstructors()"
                            [disabled]="!selectedDeletedInstructors || !selectedDeletedInstructors.length" />
                        <p-button pRipple severity="danger" label="Kalıcı Sil" icon="pi pi-trash" (click)="deleteSelectedInstructors(true)"
                            [disabled]="!selectedDeletedInstructors || !selectedDeletedInstructors.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="userName" style="width: 25%;">
                        Ad Soyad <p-sortIcon field="userName" />
                    </th>
                    <th pSortableColumn="email" style="min-width: 10%; max-width: 15%;">
                        Email <p-sortIcon field="email" />
                    </th>
                    <th pSortableColumn="companyName" style="width: 15%;">
                        Şirket <p-sortIcon field="companyName" />
                    </th>
                    <th pSortableColumn="deletedDate" style="width: 20%;">
                        Silinme Tarihi <p-sortIcon field="deletedDate" />
                    </th>
                    <th style="width: 10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-instructor>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="instructor" />
                    </td>
                    <td>
                        {{ instructor.userName }}
                    </td>
                    <td>
                        {{ instructor.email }}
                    </td>
                    <td>
                        {{ instructor.companyName }}
                    </td>
                    <td>
                        {{ instructor.deletedDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-replay" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="restoreInstructor(instructor)" pTooltip="Geri Yükle" tooltipPosition="top" showDelay="1150" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteInstructor(instructor, true)" pTooltip="Kalıcı Sil" tooltipPosition="top" showDelay="1150" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ deletedInstructors.items ? deletedInstructors.items.length : 0 }} adet Silinmiş Eğitmen var.
                </div>
            </ng-template>
        </p-table>

    </div>
</div>