<!-- BootcampStates Table -->
<div class="content-container">
    <div class="card">
        <p-toast />

        <p-table #dt1 [value]="bootcampStates.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['name', 'createdDate']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedBootcampStates" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">    
                        <h5 class=" m-0">Etkinlik Durumları</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[0]" (input)="filterTable($event, dt1, 0)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilter(dt1, 0)" *ngIf="filterValues[0]" pTooltip="Temizle" tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Ekle" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
                        <p-button pRipple severity="danger" label="Sil" icon="pi pi-trash" (click)="deleteSelectedBootcampStates(false)"
                            [disabled]="!selectedBootcampStates || !selectedBootcampStates.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="name">
                        Ad <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="createdDate" style="width: 35%">
                        Oluşturulma Tarihi <p-sortIcon field="createdDate" />
                    </th>
                    <th style="width: 10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bootcampState>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="bootcampState" />
                    </td>
                    <td>
                        <p-tag [value]="bootcampState.name"
                        [severity]="getSeverity(bootcampState.name.toUpperCase())" />
                    </td>
                    <td>
                        {{ bootcampState.createdDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-pencil" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="openEdit(bootcampState)" pTooltip="Düzenle" tooltipPosition="top" showDelay="1150" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteBootcampState(bootcampState, false)" pTooltip="Sil" tooltipPosition="top" showDelay="1150" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ bootcampStates.items ? bootcampStates.items.length : 0 }} adet Etkinlik Durumu var.
                </div>
            </ng-template>
        </p-table>

        <!-- Create Dialog -->
        <p-dialog [(visible)]="bootcampStateCreateDialog" [style]="{ width: '600px', height: '400px' }" header="Etkinlik Durumu Oluştur" [modal]="true" styleClass="p-fluid" closeOnEscape="false">
            <ng-template pTemplate="content">
                <div class="field">
                    <small class="p-error" *ngIf="!bootcampStateCreateRequest.name">*</small>
                    <label for="name">Ad</label>
                    <small class="p-error" *ngIf="submitted && !bootcampStateCreateRequest.name">
                        Ad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="name" [(ngModel)]="bootcampStateCreateRequest.name" required autofocus />
                </div>
  
            </ng-template>
        
            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" pTooltip="Kapat" tooltipPosition="top" showDelay="1150" />
                <p-button pRipple label="Oluştur" icon="pi pi-check" [text]="true" (click)="createBootcampState()" [disabled]="submitButton" pTooltip="Oluştur" tooltipPosition="top" showDelay="1150" />
            </ng-template>
        </p-dialog>
        
        <!-- Update Dialog -->
        <p-dialog [(visible)]="bootcampStateUpdateDialog" [style]="{ width: '600px', height: '400px' }" header="Etkinlik Durumu Detayları" [modal]="true" styleClass="p-fluid" closeOnEscape="false">
            <ng-template pTemplate="content">
                <div class="field">
                    <small class="p-error" *ngIf="!bootcampStateUpdateRequest.name">*</small>
                    <label for="name">Ad</label>
                    <small class="p-error" *ngIf="submitted && !bootcampStateUpdateRequest.name">
                        Ad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="name" [(ngModel)]="bootcampStateUpdateRequest.name" required autofocus />
                </div>
  
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" pTooltip="Kapat" tooltipPosition="top" showDelay="1150" />
                <p-button pRipple label="Güncelle" icon="pi pi-check" [text]="true" (click)="updateBootcampState()" [disabled]="submitButton" pTooltip="Güncelle" tooltipPosition="top" showDelay="1150" />
            </ng-template>
        </p-dialog>

    </div>
</div>

<!--  -->
<!--  -->
<p-confirmDialog [style]="{ width: '850px' }" />
<!--  -->
<!--  -->

<!-- Deleted BootcampStates Table -->
<div class="content-container">
    <div class="card">

        <p-table #dt2 [value]="deletedBootcampStates.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['name', 'deletedDate']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedDeletedBootcampStates" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="500px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">
                        <h5 class="m-0">Silinen Etkinlik Durumları</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[1]" (input)="filterTable($event, dt2, 1)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilter(dt2, 1)" *ngIf="filterValues[1]" pTooltip="Temizle" tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Geri Yükle" icon="pi pi-replay" class="mr-2" (click)="restoreSelectedBootcampStates()"
                            [disabled]="!selectedDeletedBootcampStates || !selectedDeletedBootcampStates.length" />
                        <p-button pRipple severity="danger" label="Kalıcı Sil" icon="pi pi-trash" (click)="deleteSelectedBootcampStates(true)"
                            [disabled]="!selectedDeletedBootcampStates || !selectedDeletedBootcampStates.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%;">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="name">
                        Ad <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="deletedDate" style="width: 35%;">
                        Silinme Tarihi <p-sortIcon field="deletedDate" />
                    </th>
                    <th style="width: 10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bootcampState>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="bootcampState" />
                    </td>
                    <td>
                        <p-tag [value]="bootcampState.name"
                        [severity]="getSeverity(bootcampState.name.toUpperCase())" />
                    </td>
                    <td>
                        {{ bootcampState.deletedDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-replay" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="restoreBootcampState(bootcampState)" pTooltip="Geri Yükle" tooltipPosition="top" showDelay="1150" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteBootcampState(bootcampState, true)" pTooltip="Kalıcı Sil" tooltipPosition="top" showDelay="1150" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ deletedBootcampStates.items ? deletedBootcampStates.items.length : 0 }} adet Silinmiş Etkinlik Durumu var.
                </div>
            </ng-template>
        </p-table>

    </div>
</div>