
<div class="m-3">
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Eğitmen Ara">
    <div *ngIf="filterText" class="alert alert-success m-2" style="opacity: 0.8;">
      '{{filterText}}' ile ilgili sonuçlar.
    </div>
</div>



<div class="d-flex flex-wrap" style="width: fit-content; justify-content: center;">
  <div *ngFor="let appliedBootcamp of appliedBootcampsList.items | filterAppliedBootcampText: filterText" class="card" style="width: 18.5vw; margin: 12px;">
    <div class="card-click-zone" (click)="navigateToBootcampDetail(appliedBootcamp)">
      <img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Zk7d1MdoSJ6cEShVbfd0" class="card-img-top" alt="Course Image" style="object-fit: cover; height: 200px;">
      <div class="card-body">
        <h5 class="card-title" style="width: 100%;">{{ appliedBootcamp.bootcampName }}</h5>
        <p class="text-muted"> Başvurma Tarihi: {{appliedBootcamp.createdDate.split("T")[0]}} </p>
      </div>
      <div class="card-footer bg-transparent border-top-0">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <img src="https://t3.ftcdn.net/jpg/05/14/18/46/360_F_514184651_W5rVCabKKRH6H3mVb62jYWfuXio8c8si.jpg" alt="Instructor Photo" class="rounded-circle" style="width: 30px; height: 30px;">
            <span>{{ appliedBootcamp.bootcampInstructorUserName }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-paginator [rows]="PAGE_SIZE" [totalRecords]="appliedBootcampsList.count" (onPageChange)="onPageChange($event)"></p-paginator>

  