<body>
  <nav class="navbar">
    <ul class="navbar_menu">
      <li class="navbar_item back">
        <a routerLink="../" class="navbar_link red"><i data-feather="corner-up-left"></i><span>Anasayfa</span></a>
      </li>
    </ul>
    <div class="seperator"></div>
    <ul class="navbar_menu">
      <li class="navbar_item back">
        <a routerLink="Dashboard" class="navbar_link blue"><i data-feather="box"></i><span>Dashboard</span></a>
      </li>
      <li class="navbar_item">
        <a routerLink="Bootcamps" class="navbar_link orange"><i data-feather="list"></i><span>Etkinlikler</span></a>
      </li>
      <li class="navbar_item">
        <a routerLink="Applications" class="navbar_link yellow"><i data-feather="slack"></i><span>Başvurular</span></a>
      </li>
      <li class="navbar_item">
        <a routerLink="Instructors" class="navbar_link red"><i data-feather="star"></i><span>Eğitmenler</span></a>
      </li>
      <li class="navbar_item">
        <a routerLink="Settings" class="navbar_link pink"><i data-feather="bell"></i><span>Bildirimler</span></a>
      </li>
      <li class="navbar_item">
        <a routerLink="Account" class="navbar_link blue"><i data-feather="user"></i><span>Hesap</span></a>
      </li>
    </ul>
  </nav>
</body>