<body>
    <nav class="navbar">
        <ul class="navbar_menu">
          <li class="navbar_item back">
            <a routerLink="Dashboard" class="navbar_link blue"><i class="font" data-feather="box"></i><span>Dashboard</span></a>
          </li>
          <li class="navbar_item">
            <a routerLink="Bootcamps" class="navbar_link orange"><i class="font" data-feather="list"></i><span>Etkinlikler</span></a>        
          </li>
          <li class="navbar_item">
            <a routerLink="Applications" class="navbar_link yellow"><i class="font" data-feather="slack"></i><span>Başvurular</span></a>        
          </li>
          <li class="navbar_item">
            <a routerLink="Instructors" class="navbar_link red"><i class="font" data-feather="star"></i><span>Eğitmenler</span></a>        
          </li>
          <li class="navbar_item">
            <a routerLink="Applicants" class="navbar_link red"><i class="font" data-feather="eye"></i><span>Başvuranlar</span></a>        
          </li>
          <li class="navbar_item">
            <a routerLink="Settings" class="navbar_link pink"><i class="font" data-feather="bell"></i><span>Bildirimler</span></a>        
          </li>
          <li class="navbar_item">
            <a routerLink="Account" class="navbar_link blue"><i class="font" data-feather="user"></i><span>Hesap</span></a>        
          </li>
        </ul>
      </nav>
</body>