<nav class="navbar">
  <ul class="navbar_menu">
    <li class="navbar_item back">
      <a routerLink="../" class="navbar_link red"><i data-feather="corner-up-left"></i><span>Anasayfa</span></a>
    </li>
  </ul>
  <div class="seperator"></div>
  <ul class="navbar_menu">
    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="bootcamps" class="navbar_link orange"><i data-feather="book"></i><span>Etkinlikler</span></a>
    </li>    
    <li class="navbar_item" *ngIf="CheckRoles(['Instructors'])">
      <a routerLink="bootcamps/instructor" class="navbar_link orange"><i data-feather="book"></i><span>Etkinlikler</span></a>
    </li>

    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="bootcamp-states" class="navbar_link orange"><i data-feather="bar-chart"></i><span>Etkinlik Durumları</span></a>
    </li>

    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="applications" class="navbar_link yellow"><i data-feather="list"></i><span>Başvurular</span></a>
    </li>
    <li class="navbar_item" *ngIf="CheckRoles(['Instructors'])">
      <a routerLink="applications/instructor" class="navbar_link yellow"><i data-feather="list"></i><span>Başvurular</span></a>
    </li>

    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="application-states" class="navbar_link yellow"><i data-feather="bar-chart"></i><span>Başvuru Durumları</span></a>
    </li>
    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="blacklist" class="navbar_link purple"><i data-feather="clipboard"></i><span>Blacklist</span></a>
    </li>
    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="applicants" class="navbar_link yellow"><i data-feather="users"></i><span>Öğrenciler</span></a>
    </li>
    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="applicantsFirst" class="navbar_link yellow"><i data-feather="users"></i><span>Öğrenciler 2</span></a>
    </li>
    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees'])">
      <a routerLink="instructors" class="navbar_link red"><i data-feather="pen-tool"></i><span>Eğitmenler</span></a>
    </li>
    <li class="navbar_item" *ngIf="CheckRoles(['Admin'])">
      <a routerLink="employees" class="navbar_link red"><i data-feather="coffee"></i><span>Çalışanlar</span></a>
    </li>
    <li class="navbar_item" *ngIf="CheckRoles(['Admin', 'Employees', 'Instructors'])">
      <a routerLink="account" class="navbar_link blue"><i data-feather="user"></i><span>Hesap</span></a>
    </li>
  </ul>
</nav>