<div [ngStyle]="{'background-color':profileComponentBackgroundColor}">
    <div class="container">
        <div class="left-half">
            <div class="card">
                <div class="card-body">
                    <i style="font-size: 5em; color: gray; margin-left: 60px; " class="bi bi-person"></i>
                    <h6 class="head" style="line-height: 1.75;font-weight: 550;">Merhaba!</h6>
                    <h6 class="head" style="color: rgb(135, 135, 135);font-weight: 530;">ece&#64;gmail.com</h6>
                    <hr>
                    <ul class="list-group">
                        <li (click)="setCurrentItem(item)" [class]="getCurrentItemClass(item)"
                            *ngFor="let item of items">
                            {{item}}</li>
                        <hr>
                        <li (click)="setNullCurrentItem()" class="list-group-item-action log-out"><i
                                data-feather="log-out"></i>Çıkış</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-half">
            <app-profile></app-profile>
        </div>
    </div>
</div>

