<form [formGroup]="loginForm">
  <span class="p-float-label">
    <h4>CodeCamp'a Giriş Yap</h4>
  </span>
  <span class="p-float-label">
    <input type="email" pInputText formControlName="email" id="email" />
    <label for="email">E-mail</label>
  </span>
  <span class="p-float-label">
    <input type="password" pInputText formControlName="password" id="password" />
    <label for="password">Şifre</label>
  </span>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="remember">
    <label for="remember" class="form-check-label">Beni hatırla</label>
  </div>
  <span class="p-float-label">
    <p-button (onClick)="login()" label="Giriş Yap" severity="success"></p-button>
  </span>
</form>

<div class="have-account">
  <label>Hesabın yok mu? <a routerLink="../Register">Kayıt Ol</a></label>
</div>