/* İçeriklerin stilleri */

.p-float-label {
  margin: 17px;
}

.p-inputtext {
  width: 275px;
}

:host {
  ::ng-deep {
    .p-button.p-button-success {
      background-color: #4bd17c;
      border: 1px solid #4bd17c;
      border-radius: 5px;
      height: 45px;
      width: 275px;
    }

    .form-check-inline {
      margin-left: 1.3rem;
      font-size: 14px;
    }

    .form-check-label {
      color: #1d1d1d;
    }

    h4 {
      margin-bottom: 40px;
    }

    .have-account {
      display: flex;
      color: #1d1d1d;
      font-size: 14px;
      width: 310px;
      justify-content: center;
    }

    .p-button-label {
      font-weight: 600;
    }

    a {
      color: #4bd17c;
      font-weight: 500;
      text-decoration: none;
    }
  }
}