:host {
  ::ng-deep {
    .input-container {
      display: flex;
      flex-direction: column;
      gap:1rem;
    }

    .p-button.p-button-success {
      background-color: #4bd17c;
      border: 1px solid #4bd17c;
      border-radius: 5px;
      height: 45px;
      width: 275px;
    }

    input:hover {
      border-color: #1d1d1d;
    }

    .form-check-label {
      color: #1d1d1d;
    }

    h4 {
      margin-bottom: 40px;
    }

    .have-account {
      display: flex;
      justify-content: center;
      color: #1d1d1d;
      width: 280px;
      margin-top: 20px;
    }

    .p-button-label {
      font-weight: 600;
    }

    .p-button:hover {
      background-color: #4bd17ccf;
    }

    a {
      color: #4bd17c;
      font-weight: 500;
      text-decoration: none;
    }

    .p-inputtext {
      width: 275px;
    }

    .form-group {
      margin-bottom: 0;
    }
    
    .info{
      font-size: 13px;
      color: #fb3b2e !important;
      text-align: left;
    }
    .error-messages {
      margin-top: 0;
      padding: 0;
    }
    .error-messages small {
      font-size: 13px;
      color: #fb3b2e !important;
      text-align: left;
      display: block;
      margin: 0;
      padding: 0;
    }

  }
}