:host{
    ::ng-deep {
      .p-button.p-button-info {
        background-color: #4248eb;
        border: 1px solid #4248eb;
        border-radius: 5px;
        height: 45px;
        width: 275px;
      }
      .p-button-label {
        font-weight: 500;
      }
      .p-button:hover {
        background-color: #4141ede2;
      }
      .card{
        height: 400px;
        width: 600px;
      }
      .form-group {
        margin-bottom: 20px;
      }
      input:hover {
        border-color: #1d1d1d;
      }
      .error-messages {
        margin-top: 0;
        padding: 0;
      }
      .p-inputtext {
        width: 275px;
        font-family:"Source Sans Pro", sans-serif
      }
      .error-messages small {
        font-size: 13px;
        color: #fb3b2e !important;
        text-align: left;
        display: block;
        margin: 0;
        padding: 0;
        width: 260px;
      }
      form{
        margin:5px auto;
      }
    }
  }
  
 