<div class="card flex justify-content-center">
    <p-toast/>

    <form [formGroup]="updateForm">
        <h4 class="mb-3">Şifreni Değiştir</h4>
        <div class="form-group">

            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-key" />
                <input type="password" formControlName="currentPassword" id="currentPassword" pInputText placeholder="Mevcut şifren" />
            </p-iconField>
            <div *ngIf="isFieldInvalid('currentPassword')" class="error-messages">
                <small *ngIf="updateForm.get('currentPassword')?.errors?.['required']" >Şifreni
                    girmelisin.</small>
            </div>
        </div>
        <div class="form-group">

            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-key" />
                <input type="password" formControlName="newPassword" id="newPassword" pInputText placeholder="Yeni şifren" />
            </p-iconField>
            <div *ngIf="isFieldInvalid('newPassword')" class="error-messages">
                <small *ngIf="updateForm.get('newPassword')?.errors?.['required']" >Şifreni
                    girmelisin.</small>
                <small *ngIf="updateForm.get('newPassword')?.errors?.['pattern'] ">En az 8 karakter uzunluğunda ve
                    büyük harf, küçük harf, rakam ve özel karakter içermelidir.</small>
            </div>
        </div>

        <p-button (onClick)="updatePassword()" label="Şifre güncelle" severity="info"></p-button>

    </form>
</div>