:host {
    ::ng-deep {
        .p-menubar {
            background-color: #fff;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
            border: 0px;
            border-radius: 0px;
            padding-left: 50px;
            padding-right: 50px;
        }

        p-menubarsub>ul {
            margin: 0px;
        }

        .p-menuitem {
            margin: 8px;
        }

        .p-ripple {
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.025rem;
        }

        .p-menuitem-icon {
            opacity: 0.6;
            color: #1D1D1D;
        }

        .p-menuitem-text {
            color: #1D1D1D;
        }

        .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content {
            border-radius: 0;
            background-color: transparent;
        }

        .p-menubar .p-menubar-root-list>.p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover {
            .p-menuitem-icon {
                opacity: 1;
                color: rgb(95, 93, 93);
            }

            .p-menuitem-text {
                color: rgb(95, 93, 93);
            }
        }

        .p-focus {
            .p-menuitem-icon {
                opacity: 1;
                color: rgb(235, 235, 235);
            }
        }

        .p-button-label {
            font-weight: 450;
            transition-duration: 0.2s;
        }

        .p-button {
            transition-duration: 0.2s;
            background-color: #0ea5e9;
            border: 1px solid #0ea5e9;
            border-radius: 5px;
            height: 40px;
            width: 130px;
            margin-left: 300px;
            
        }
        
        .logo1{
            font-variant: petite-caps;
            color: #006c9d;
            font-size: x-large;
            font-weight: 800;
        }
        .logo2{
            color: #a8b5bb;
            font-size: x-large;
            font-weight: 600;
        }

        // .filterInput{
        //     padding: 0 15px;
        //     color: #293349;
        //     font-size: 14px;
        //     font-weight: 500;
        //     width: 100px;
        // }
        // #filterInput{
        //     border: none; 
        //     margin-bottom: 10px
        // }
    }
}