<p-menubar [model]="menuItems" *ngIf="isNotOnAuthPages()">
    <ng-template pTemplate="start">
        <div class="navbar-start">
            <a pRipple class="p-ripple p-element p-menuitem-link navbar-logo" routerLink="">
                <span class="logo1">Code</span>
                <span class="logo2">Camp</span>
            </a>
            <input type="text" [(ngModel)]="searchText" class="search-input form-control" id="searchText"
                placeholder="Bootcamp Ara">
            <div *ngIf="searchText" class="search-result-dropdown">
                <div class="search-result-list">
                    <ng-container *ngIf="(bootcamps.items | filterBootcampText: searchText).length > 0; else noResults">
                        <a *ngFor="let bootcamp of bootcamps.items | filterBootcampText: searchText"
                            class="search-result" (click)="navigateToBootcampDetail(bootcamp)">
                            <span>
                                {{bootcamp.name}}
                            </span>
                        </a>
                    </ng-container>
                    <ng-template #noResults>
                        <div class="search-result no-results-message">
                            <span>Sonuç Bulunamadı</span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="item" let-item>
        <a pRipple class="p-ripple p-element p-menuitem-link" [routerLink]="item.routerLink">
            <span class="p-menuitem-icon" [ngClass]="item.icon"></span>
            <span class="p-menuitem-text">{{item.label}}</span>
        </a>
    </ng-template>

    <ng-template pTemplate="end">
        <ng-container *ngIf="userLogged; else loginButtons">
            <div id="navbar-dropdown">
                <p-menubar [model]="authItems" [autoDisplay]="false">
                    <ng-template pTemplate="item" let-item>
                        <a pRipple class="p-ripple p-element p-menuitem-link" (click)="menuItemClicked(item)">
                            <i class="p-menuitem-icon" [ngClass]="item.icon"></i>
                            <span class="p-menuitem-text">
                                {{ item.label }}
                            </span>
                        </a>
                    </ng-template>
                </p-menubar>
            </div>
        </ng-container>
        <ng-template #loginButtons>
            <div class="p-element">
                <ul class="p-menubar-root-list">
                    <li pTooltip class="p-element p-menuitem">
                        <div class="p-menuitem-content">
                            <p-button label="Giriş/Kayıt" routerLink="Auth/Login"></p-button>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>
    </ng-template>
</p-menubar>