:host {
    ::ng-deep {
        .p-menubar {
            background-color: #fff;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
            border: 0px;
            border-radius: 0px;
            padding-left: 50px;
            padding-right: 50px;

            height: 68px;
            display: grid;
            grid-template-columns: auto 9fr auto;
        }

        ul {
            margin: 0px;
        }

        .p-menuitem {
            margin: 8px;
        }

        .p-ripple {
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.025rem;
        }

        .p-menuitem-icon {
            opacity: 1;
            color: #1D1D1D;
        }

        .p-menuitem-text {
            color: #1D1D1D;
        }

        .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content {
            border-radius: 0;
            background-color: transparent;
        }

        .p-menubar .p-menubar-root-list>.p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover {
            .p-menuitem-icon {
                opacity: 1;
                color: #1D1D1D;
            }

            .p-menuitem-text {
                color: #1D1D1D;
            }
        }

        .p-focus {
            .p-menuitem-icon {
                opacity: 1;
                color: #1D1D1D;
            }
        }

        .p-button-label {
            font-weight: 450;
            transition-duration: 0.2s;
        }

        .p-button {
            transition-duration: 0.2s;
            background-color: #0ea5e9;
            border: 1px solid #0ea5e9;
            border-radius: 5px;
            height: 40px;
            width: 130px;
            margin-left: 0px;

        }

        .navbar-start {
            display: grid;
            grid-template-columns: auto 2fr;
            padding: 0px 6px;

            .navbar-logo {
                margin: 0px 2rem;

                .logo1 {
                    font-variant: petite-caps;
                    color: #006c9d;
                    font-size: x-large;
                    font-weight: 800;
                }

                .logo2 {
                    color: #a8b5bb;
                    font-size: x-large;
                    font-weight: 600;
                }
            }

            .search-input {
                flex-grow: 1;
                text-overflow:ellipsis;
                opacity: 1;
            }

            .search-result {
                position: absolute;
                padding: 5px 0px;
                left: 0;
                transform: translateX(50%) translateY(100%);

                display: flex;
                justify-content: flex-start;
                align-items: center;

                min-height: 48px;
                min-width: 420px;
                max-width: 420px;

                background-color: white;
                border: 1px solid black;
                border-radius: 6px;
            }
        }


    }
}

:host {
    ::ng-deep {
        #navbar-dropdown {
            .p-menubar {
                position: absolute;
                top: 0;
                transform: translateX(-100%) translateY(0);

                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
                border: 0px;
                border-radius: 0px;
                padding-left: 0px;
                padding-right: 0px;

                height: 68px;
            }

            .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content {
                border: 1px solid rgb(216, 216, 216);
                border-radius: 6px;
                background-color: transparent;
            }

            .p-menubar .p-submenu-list .p-menuitem-separator {
                margin: 0px 16px;
                border-width: 0px 0px thin;
                border-style: solid;
                border-color: rgb(216, 216, 216);
                width: calc(100% - 32px);
            }

            .p-menubar .p-menubar-root-list>.p-menuitem:is(.p-highlight):not(.p-disabled)>.p-menuitem-content {
                border: 1px solid rgb(216, 216, 216);
                border-radius: 6px;
                background-color: transparent;

                .p-menuitem-icon {
                    opacity: 1;
                    color: #00C26D;
                }

                .p-menuitem-text {
                    color: #00C26D;
                }
            }

            .p-menubar .p-menubar-root-list .p-submenu-list {
                background-color: rgb(255, 255, 255);
                color: rgb(29, 29, 29);
                border: 1px solid rgb(216, 216, 216);
                border-radius: 0px;
                width: 230px;

                margin: 0px;
                padding: 4px 12px;
                right: 0;
                transform: translateX(0%) translateY(2%);
            }

            .p-menubar .p-menubar-root-list .p-submenu-list .p-menuitem {
                margin: 6px 0px;
                padding: 6px 16px;
                height: 48px;
                font-weight: 500;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                .p-menuitem-link {
                    padding: 0px;
                }
            }

        }
    }
}