<!-- ApplicationStates Table -->
<div class="content-container">
    <div class="card">
        <p-toast />

        <p-table #dt1 [value]="applicationStates.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['name', 'createdDate']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedApplicationStates" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">    
                        <h5 class=" m-0">Başvuru Durumları</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[0]" (input)="filterTable($event, dt1, 0)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilter(dt1, 0)" *ngIf="filterValues[0]" pTooltip="Temizle" tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Ekle" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
                        <p-button pRipple severity="danger" label="Sil" icon="pi pi-trash" (click)="deleteSelectedApplicationStates(false)"
                            [disabled]="!selectedApplicationStates || !selectedApplicationStates.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%;">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="name">
                        Ad <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="createdDate" style="width: 35%;">
                        Oluşturulma Tarihi <p-sortIcon field="createdDate" />
                    </th>
                    <th style="width: 10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-applicationState>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="applicationState" />
                    </td>
                    <td>
                        <p-tag [value]="applicationState.name"
                        [severity]="getSeverity(applicationState.name.toUpperCase())" />
                    </td>
                    <td>
                        {{ applicationState.createdDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-pencil" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="openEdit(applicationState)" pTooltip="Düzenle" tooltipPosition="top" showDelay="1150" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteApplicationState(applicationState, false)" pTooltip="Sil" tooltipPosition="top" showDelay="1150" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ applicationStates.items ? applicationStates.items.length : 0 }} adet Başvuru Durumu var.
                </div>
            </ng-template>
        </p-table>

        <!-- Create Dialog -->
        <p-dialog [(visible)]="applicationStateCreateDialog" [style]="{ width: '600px', height: '400px' }" header="Başvuru Durumu Oluştur" [modal]="true" styleClass="p-fluid" closeOnEscape="false">
            <ng-template pTemplate="content">
                <div class="field">
                    <small class="p-error" *ngIf="!applicationStateCreateRequest.name">*</small>
                    <label for="firstName">Ad</label>
                    <small class="p-error" *ngIf="submitted && !applicationStateCreateRequest.name">
                        Ad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="firstName" [(ngModel)]="applicationStateCreateRequest.name" required autofocus />
                </div>
  
            </ng-template>
        
            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" pTooltip="Kapat" tooltipPosition="top" showDelay="1150" />
                <p-button pRipple label="Oluştur" icon="pi pi-check" [text]="true" (click)="createApplicationState()" [disabled]="submitButton" pTooltip="Oluştur" tooltipPosition="top" showDelay="1150" />
            </ng-template>
        </p-dialog>
        
        <!-- Update Dialog -->
        <p-dialog [(visible)]="applicationStateUpdateDialog" [style]="{ width: '600px', height: '400px' }" header="Başvuru Durumu Detayları" [modal]="true" styleClass="p-fluid" closeOnEscape="false">
            <ng-template pTemplate="content">
                <div class="field">
                    <small class="p-error" *ngIf="!applicationStateUpdateRequest.name">*</small>
                    <label for="firstName">Ad</label>
                    <small class="p-error" *ngIf="submitted && !applicationStateUpdateRequest.name">
                        Ad alanı boş olamaz.
                    </small>
                    <input type="text" pInputText id="firstName" [(ngModel)]="applicationStateUpdateRequest.name" required autofocus />
                </div>
  
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" pTooltip="Kapat" tooltipPosition="top" showDelay="1150" />
                <p-button pRipple label="Güncelle" icon="pi pi-check" [text]="true" (click)="updateApplicationState()" [disabled]="submitButton" pTooltip="Güncelle" tooltipPosition="top" showDelay="1150" />
            </ng-template>
        </p-dialog>

    </div>
</div>

<!--  -->
<!--  -->
<p-confirmDialog [style]="{ width: '850px' }" />
<!--  -->
<!--  -->

<!-- Deleted ApplicationStates Table -->
<div class="content-container">
    <div class="card">

        <p-table #dt2 [value]="deletedApplicationStates.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['name', 'deletedDate']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedDeletedApplicationStates" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="500px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">
                        <h5 class="m-0">Silinen Başvuru Durumları</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[1]" (input)="filterTable($event, dt2, 1)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilter(dt2, 1)" *ngIf="filterValues[1]" pTooltip="Temizle" tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Geri Yükle" icon="pi pi-replay" class="mr-2" (click)="restoreSelectedApplicationStates()"
                            [disabled]="!selectedDeletedApplicationStates || !selectedDeletedApplicationStates.length" />
                        <p-button pRipple severity="danger" label="Kalıcı Sil" icon="pi pi-trash" (click)="deleteSelectedApplicationStates(true)"
                            [disabled]="!selectedDeletedApplicationStates || !selectedDeletedApplicationStates.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%;">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="name">
                        Ad <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="deletedDate" style="width: 35%;">
                        Silinme Tarihi <p-sortIcon field="deletedDate" />
                    </th>
                    <th style="width: 10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-applicationState>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="applicationState" />
                    </td>
                    <td>
                        <p-tag [value]="applicationState.name"
                        [severity]="getSeverity(applicationState.name.toUpperCase())" />
                    </td>
                    <td>
                        {{ applicationState.deletedDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-replay" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="restoreApplicationState(applicationState)" pTooltip="Geri Yükle" tooltipPosition="top" showDelay="1150" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteApplicationState(applicationState, true)" pTooltip="Kalıcı Sil" tooltipPosition="top" showDelay="1150" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ deletedApplicationStates.items ? deletedApplicationStates.items.length : 0 }} adet Silinmiş Başvuru Durumu var.
                </div>
            </ng-template>
        </p-table>

    </div>
</div>