<!-- Bootcamps Table -->
<div class="content-container">
    <div class="card">
        <p-toast />

        <p-table #dt1 [value]="bootcamps.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['name', 'instructorUserName', 'instructorCompanyName', 'createdDate', 'bootcampStateName']"
            [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedBootcamps" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Bootcamps</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="filterTable($event, dt1)" placeholder="Filtrele..." />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Ekle" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
                        <p-button pRipple severity="danger" label="Sil" icon="pi pi-trash" (click)="deleteSelectedBootcamps(false)"
                            [disabled]="!selectedBootcamps || !selectedBootcamps.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="name" style="min-width:12rem">
                        Ad <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="instructorUserName" style="min-width:12rem">
                        Eğitmen <p-sortIcon field="instructorUserName" />
                    </th>
                    <th pSortableColumn="instructorCompanyName" style="min-width:8rem">
                        Şirket <p-sortIcon field="instructorCompanyName" />
                    </th>
                    <th pSortableColumn="createdDate" style="min-width:12rem">
                        Oluşturulma Tarihi <p-sortIcon field="createdDate" />
                    </th>
                    <th pSortableColumn="bootcampStateName" style="min-width:6rem">
                        Durumu <p-sortIcon field="bootcampStateName" />
                    </th>
                    <th style="min-width:12rem;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bootcamp>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="bootcamp" />
                    </td>
                    <td>
                        {{ bootcamp.name }}
                    </td>
                    <td>
                        {{ bootcamp.instructorUserName }}
                    </td>
                    <td>
                        {{ bootcamp.instructorCompanyName }}
                    </td>
                    <td>
                        {{ bootcamp.createdDate.toString().substring(0,10) }}
                    </td>
                    <td>
                        <p-tag [value]="bootcamp.bootcampStateName"
                            [severity]="getSeverity(bootcamp.bootcampStateName.toUpperCase())" />
                    </td>
                    <td>
                        <p-button pRipple icon="pi pi-info-circle" severity="info" [rounded]="true" [outlined]="true"
                            (click)="navigateToBootcampDetailPage(bootcamp)" />
                        <p-button pRipple icon="pi pi-pencil" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="openEdit(bootcamp)" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteBootcamp(bootcamp, false)" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ bootcamps.items ? bootcamps.items.length : 0 }} adet Bootcamp var.
                </div>
            </ng-template>
        </p-table>

        <!-- Create Dialog -->
        <p-dialog [(visible)]="bootcampCreateDialog" [style]="{ width: '450px', height: '800px' }" header="Create Bootcamp" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Ad</label>
                    <input type="text" pInputText id="name" [(ngModel)]="bootcampCreateRequest.name" required autofocus />
                    <small class="p-error" *ngIf="submitted && !bootcampCreateRequest.name">
                        Ad alanı boş olamaz.
                    </small>
                </div>
        
                <div class="field">
                    <label for="instructor">Eğitmen</label>
                    <p-dropdown [(ngModel)]="selectedInstructor" inputId="instructor" [options]="instructors" placeholder="*Eğitmen Seçin">
                        <ng-template pTemplate="selectedItem">
                            <p-tag [value]="selectedInstructor.userName" class="mr-2" /> <br>
                            <p-tag [value]="selectedInstructor.companyName" severity="warning" />
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <p-tag [value]="option.userName" class="mr-2"/>
                            <p-tag [value]="option.companyName" severity="warning" />
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                    <label for="bootcampState">Bootcamp State</label>
                    <p-dropdown [(ngModel)]="selectedBootcampState" inputId="bootcampStatus" [options]="bootcampStates" placeholder="*Bootcamp Durumu Seçin">
                        <ng-template pTemplate="selectedItem">
                            <p-tag [value]="selectedBootcampState.name" [severity]="getSeverity(selectedBootcampState.name.toUpperCase())" />
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <p-tag [value]="option.name" [severity]="getSeverity(option.name.toUpperCase())" />
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="date-fields">
                    <div class="field">
                        <label for="startDate">Başlangıç Tarihi</label>
                        <p-calendar id="startDate" [(ngModel)]="bootcampCreateRequest.startDate" dateFormat="dd-mm-yy" [minDate]="minStartDate" showIcon="true" (onSelect)="onStartDateSelectCreate()" required></p-calendar>
                    </div>
                    <div class="field">
                        <label for="endDate">Bitiş Tarihi</label>
                        <p-calendar id="endDate" [(ngModel)]="bootcampCreateRequest.endDate" dateFormat="dd-mm-yy" [minDate]="minEndDate" showIcon="true" required></p-calendar>
                    </div>
                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" />
                <p-button pRipple label="Oluştur" icon="pi pi-check" [text]="true" (click)="createBootcamp()" />
            </ng-template>
        </p-dialog>
        
        <!-- Update Dialog -->
        <p-dialog [(visible)]="bootcampUpdateDialog" [style]="{ width: '450px', height: '800px' }" header="Bootcamp Details" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Ad</label>
                    <input type="text" pInputText id="name" [(ngModel)]="bootcampUpdateRequest.name" required autofocus />
                    <small class="p-error" *ngIf="submitted && !bootcampUpdateRequest.name">
                        Ad alanı boş olamaz.
                    </small>
                </div>
        
                <div class="field">
                    <label for="instructor">Eğitmen</label>
                    <p-dropdown [(ngModel)]="selectedInstructor" inputId="instructor" [options]="instructors" placeholder="*Eğitmen Seçin">
                        <ng-template pTemplate="selectedItem">
                            <p-tag [value]="selectedInstructor.userName"  class="mr-2" /> <br>
                            <p-tag [value]="selectedInstructor.companyName" severity="warning" />
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <p-tag [value]="option.userName"  class="mr-2"/>
                            <p-tag [value]="option.companyName" severity="warning" />
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                    <label for="bootcampState">Bootcamp State</label>
                    <p-dropdown [(ngModel)]="selectedBootcampState" inputId="bootcampStatus" [options]="bootcampStates" placeholder="*Bootcamp Durumu Seçin">
                        <ng-template pTemplate="selectedItem">
                            <p-tag [value]="selectedBootcampState.name" [severity]="getSeverity(selectedBootcampState.name.toUpperCase())" />
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <p-tag [value]="option.name" [severity]="getSeverity(option.name.toUpperCase())" />
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="date-fields">
                    <div class="field">
                        <label for="startDate">Başlangıç Tarihi</label>
                        <p-calendar id="startDate" [(ngModel)]="bootcampUpdateRequest.startDate" dateFormat="dd-mm-yy" [minDate]="minStartDate" showIcon="true" (onSelect)="onStartDateSelectUpdate()" required></p-calendar>
                    </div>
                    <div class="field">
                        <label for="endDate">Bitiş Tarihi</label>
                        <p-calendar id="endDate" [(ngModel)]="bootcampUpdateRequest.endDate" dateFormat="dd-mm-yy" [minDate]="minEndDate" showIcon="true" required></p-calendar>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button pRipple label="İptal" icon="pi pi-times" [text]="true" (click)="hideDialog()" />
                <p-button pRipple label="Oluştur" icon="pi pi-check" [text]="true" (click)="updateBootcamp()" />
            </ng-template>
        </p-dialog>

    </div>
</div>

<!--  -->
<!--  -->
<p-confirmDialog [style]="{ width: '850px' }" />
<!--  -->
<!--  -->

<!-- Deleted Bootcamps Table -->
<div class="content-container">
    <div class="card">
        <p-toast />

        <p-table #dt2 [value]="deletedBootcamps.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['name', 'instructorUserName', 'instructorCompanyName', 'deletedDate', 'bootcampStateName']"
            [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedDeletedBootcamps" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="500px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Deleted Bootcamps</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="filterDeletedTable($event, dt2)" placeholder="Filtrele..." />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Kurtar" icon="pi pi-replay" class="mr-2" (click)="restoreSelectedBootcamps()"
                            [disabled]="!selectedDeletedBootcamps || !selectedDeletedBootcamps.length" />
                        <p-button pRipple severity="danger" label="Kalıcı Sil" icon="pi pi-trash" (click)="deleteSelectedBootcamps(true)"
                            [disabled]="!selectedDeletedBootcamps || !selectedDeletedBootcamps.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="name" style="min-width:12rem">
                        Ad <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="instructorUserName" style="min-width:12rem">
                        Eğitmen <p-sortIcon field="instructorUserName" />
                    </th>
                    <th pSortableColumn="instructorCompanyName" style="min-width:8rem">
                        Şirket <p-sortIcon field="instructorCompanyName" />
                    </th>
                    <th pSortableColumn="deletedDate" style="min-width:12rem">
                        Silinme Tarihi <p-sortIcon field="deletedDate" />
                    </th>
                    <th pSortableColumn="bootcampStateName" style="min-width:6rem">
                        Durumu <p-sortIcon field="bootcampStateName" />
                    </th>
                    <th style="min-width:12rem;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bootcamp>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="bootcamp" />
                    </td>
                    <td>
                        {{ bootcamp.name }}
                    </td>
                    <td>
                        {{ bootcamp.instructorUserName }}
                    </td>
                    <td>
                        {{ bootcamp.instructorCompanyName }}
                    </td>
                    <td>
                        {{ bootcamp.deletedDate.toString().substring(0,10) }}
                    </td>
                    <td>
                        <p-tag [value]="bootcamp.bootcampStateName"
                            [severity]="getSeverity(bootcamp.bootcampStateName.toUpperCase())" />
                    </td>
                    <td>
                        <p-button pRipple icon="pi pi-replay" class="m-1" [rounded]="true" [outlined]="true"
                            severity="success" (click)="restoreBootcamp(bootcamp)" />
                        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="deleteBootcamp(bootcamp, true)" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ deletedBootcamps.items ? deletedBootcamps.items.length : 0 }} adet Silinmiş Bootcamp var.
                </div>
            </ng-template>
        </p-table>

    </div>
</div>