<!-- Applications Table -->
<div class="content-container">
    <div class="card">
        <p-toast />

        <p-table #dt1 [value]="applicationsToReview.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['applicantUserName', 'applicantEmail', 'bootcampName', 'createdDate', 'applicationStateName']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedApplicationsToReview" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">
                        <h5 class=" m-0">Başvuru Talepleri</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[0]"
                            (input)="filterTable($event, dt1, 0)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash"
                            (click)="clearFilter(dt1, 0)" *ngIf="filterValues[0]" pTooltip="Temizle"
                            tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                <p-toolbar styleClass="mb-2 mt-3 gap-2">
                    <ng-template pTemplate="left">
                        <p-button pRipple severity="success" label="Onayla" icon="pi pi-check-circle" class="mr-2"
                            (click)="acceptSelectedApplications()"
                            [disabled]="!selectedApplicationsToReview || !selectedApplicationsToReview.length" />
                        <p-button pRipple severity="danger" label="Reddet" icon="pi pi-times-circle"
                            (click)="rejectSelectedApplications()"
                            [disabled]="!selectedApplicationsToReview || !selectedApplicationsToReview.length" />
                    </ng-template>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="applicantUserName" style="min-width: 25%">
                        Öğrenci<br>Ad Soyad <p-sortIcon field="applicantUserName" />
                    </th>
                    <th pSortableColumn="applicantEmail" style="min-width: 15%">
                        Email <p-sortIcon field="applicantEmail" />
                    </th>
                    <th pSortableColumn="bootcampName" style="min-width: 25%">
                        Etkinlik Adı <p-sortIcon field="bootcampName" />
                    </th>
                    <th pSortableColumn="createdDate" style="width: 15%">
                        Başvuru Tarihi <p-sortIcon field="createdDate" />
                    </th>
                    <th pSortableColumn="applicationStateName" style="width: 9%">
                        Durumu <p-sortIcon field="applicationStateName" />
                    </th>
                    <th style="width: 10%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-application>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="application" />
                    </td>
                    <td>
                        {{ application.applicantUserName }}
                    </td>
                    <td>
                        {{ application.applicantEmail }}
                    </td>
                    <td>
                        {{ application.bootcampName }}
                    </td>
                    <td>
                        {{ application.createdDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-tag [value]="application.applicationStateName"
                            [severity]="getSeverity(application.applicationStateName.toUpperCase())" />
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-check" class="mr-2" [rounded]="true" [outlined]="true"
                            severity="success" (click)="acceptApplication(application)" pTooltip="Onayla" tooltipPosition="top" showDelay="1050" />
                        <p-button pRipple icon="pi pi-times" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="rejectApplication(application)" pTooltip="Reddet" tooltipPosition="top" showDelay="1050" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ applicationsToReview.items ? applicationsToReview.items.length : 0 }} adet Başvuru talebi
                    var.
                </div>
            </ng-template>
        </p-table>

    </div>
</div>

<!--  -->
<!--  -->
<p-confirmDialog [style]="{ width: '850px' }" />
<!--  -->
<!--  -->

<div class="content-container">
    <div class="card">

        <p-table #dt2 [value]="applicationsReviewed.items" [rows]="20" [paginator]="true"
            [globalFilterFields]="['applicantUserName', 'applicantEmail', 'bootcampName', 'createdDate', 'applicationStateName']"
            [tableStyle]="{ 'min-width': '30rem' }" [(selection)]="selectedApplicationsReviewed" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="false" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <div class="p-toolbar table-header">
                        <h5 class=" m-0">Başvurular</h5>
                    </div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterValues[1]"
                            (input)="filterTable($event, dt2, 1)" placeholder="Filtrele..." />
                        <p-button class="clear-filter-button" [outlined]="true" icon="pi pi-filter-slash"
                            (click)="clearFilter(dt2, 1)" *ngIf="filterValues[1]" pTooltip="Temizle"
                            tooltipPosition="top" showDelay="0650" />
                    </span>
                </div>
                
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5%">
                        <!-- <p-tableHeaderCheckbox /> -->
                    </th>
                    <th pSortableColumn="applicantUserName" style="min-width: 25%">
                        Öğrenci<br>Ad Soyad <p-sortIcon field="applicantUserName" />
                    </th>
                    <th pSortableColumn="applicantEmail" style="min-width: 15%">
                        Email <p-sortIcon field="applicantEmail" />
                    </th>
                    <th pSortableColumn="bootcampName" style="min-width: 25%">
                        Etkinlik Adı <p-sortIcon field="bootcampName" />
                    </th>
                    <th pSortableColumn="createdDate" style="width: 15%">
                        Başvuru Tarihi <p-sortIcon field="createdDate" />
                    </th>
                    <th pSortableColumn="applicationStateName" style="width: 9%">
                        Durumu <p-sortIcon field="applicationStateName" />
                    </th>
                    <th style="width: 10%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-application>
                <tr>
                    <td>
                        <!-- <p-tableCheckbox [value]="application" /> -->
                    </td>
                    <td>
                        {{ application.applicantUserName }}
                    </td>
                    <td>
                        {{ application.applicantEmail }}
                    </td>
                    <td>
                        {{ application.bootcampName }}
                    </td>
                    <td>
                        {{ application.createdDate.toString().substring(0,10) }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-tag [value]="application.applicationStateName"
                            [severity]="getSeverity(application.applicationStateName.toUpperCase())" />
                    </td>
                    <!-- <td style="text-align: center; vertical-align: middle;">
                        <p-button pRipple icon="pi pi-check" class="mr-2" [rounded]="true" [outlined]="true"
                            severity="success" (click)="acceptApplication(application)" pTooltip="Onayla" tooltipPosition="top" showDelay="1050" />
                        <p-button pRipple icon="pi pi-times" severity="danger" [rounded]="true" [outlined]="true"
                            (click)="rejectApplication(application)" pTooltip="Reddet" tooltipPosition="top" showDelay="1050" />
                    </td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    Toplam {{ applicationsReviewed.items ? applicationsReviewed.items.length : 0 }} adet Başvuru kaydı
                    var.
                </div>
            </ng-template>
        </p-table>

    </div>
</div>