<form [formGroup]="updateForm">
    <div class="container">
        <div class="half">
            <div class="form-floating">
                <input formControlName="firstName" type="text" class="form-control" id="name">
                <label for="firstName">Ad</label>
            </div>
            <div class="mt-3 mb-3">
                <div class="form-floating">
                    <input formControlName="dateOfBirth" type="date" class="form-control" id="dateOfBirth">
                    <label for="dateOfBirth">Doğum Tarihi</label>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="form-floating">             
                <input formControlName="lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Soyadınızı girin">
                <label for="lastName">Soyad</label>
             </div>
            <div class="mt-3 mb-3">
                <div class="form-floating">
                    <input  type="text" class="form-control" id="city" value="İstanbul">
                    <label for="city">Yaşadığın Şehir</label>
                </div>
            </div>
            <button (click)="updateApp()" type="button" class="btn btn-secondary save" [disabled]="formSubmitted">Kaydet</button>
        </div>
    </div>
</form>