.ac-container {
    width: 100vmax;
    height: 100vmin;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.left-half {
    align-self: stretch;
    justify-self: stretch;
    background-color: white;

    img {
        width: 500px;
        height: 350px;
        margin-top: 278px;
    }
}

.right-half {
    align-self: center;
    justify-self: center;
}