<div class="row">
    <div class="col-md-6">
        <img src="../../../../assets/images/feature.jpg" style="width: 450px; margin-left: 50px;">
    </div>
    <div class="col-md-6">
        <form [formGroup]="registerForm">
            <span class="p-float-label">
                <h4>CodeCamp'a Kayıt Ol</h4>
            </span>
            <span class="p-float-label">
                <input type="text" pInputText formControlName="firstName" />
                <label for="name">Ad</label>
            </span>
            <span class="p-float-label">
                <input type="text" pInputText formControlName="lastName" />
                <label for="surname">Soyad</label>
            </span>
            <span class="p-float-label">
                <input type="email" pInputText formControlName="email" />
                <label for="email">E-mail</label>
            </span>
            <span class="p-float-label">
                <input type="password" pInputText formControlName="password" />
                <label for="password">Şifre</label>
            </span>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Hizmet sözleşmesini onaylıyorum.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Verilerimin Aydınlatma Metni kapsamında belirtilen şekilde işlenmesine ve yurtdışında tutulmasına onay veriyorum.</label>
            </div>
            <span class="p-float-label">
                <p-button (onClick)="registerApplicant()" label="Giriş Yap" severity="success"></p-button>
            </span>
        </form>
        <div class="have-account">
            <label>Zaten hesabın var mı? <a routerLink="../Login">Kayıt Ol</a></label>
        </div>

    </div>
</div>