/* Özelleştirilmiş CSS */
.form-group {
    margin-bottom: 1rem; /* Tüm form alanları arasında boşluk bırakır */
  }
  
  /* Kayıt ol butonunu üst kısmında ve alt kısmında ortala */
  .btn-block {
    margin-top: 1rem; /* Butonun üst kısmına margin ekler */
  }
  
#about {
    resize: none;
}