.bc-seperator {
    width: 100%;
    height: 180px;
    margin-top: 60px;
    background-image: linear-gradient(120deg, #4382e8dd 0%, #3996b0e8 100%)
}

.bc-seperator-text {
    color: white;
    padding: 80px;
    font-size: 1.5625rem;
    font-family: Roboto, sans-serif;
    text-align: center;
}