.card-click-zone {
  transition: opacity 0.6s;
}

.card-click-zone:hover {
  opacity: 0.87;
  transition: opacity 0.15s;
  cursor: pointer;
}

:host {
  ::ng-deep {
    .p-paginator {
      background-color: #ffffff;
      color: #6b7280;
      border: solid #f3f4f6;
      border-width: 0;
      padding: 0.5rem 1rem;
      border-radius: 6px;
    }

    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last {
      background-color: transparent;
      border: 0 none;
      color: #6b7280;
      min-width: 3rem;
      height: 3rem;
      margin: 0.143rem;
      transition: box-shadow 0.2s;
      border-radius: 50%;
    }

    .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
    .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
    .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
    .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
      background: #f3f4f6;
      border-color: transparent;
      color: #374151;
    }

    .p-paginator .p-paginator-current {
      background-color: transparent;
      border: 0 none;
      color: #6b7280;
      min-width: 3rem;
      height: 3rem;
      margin: 0.143rem;
      padding: 0 0.5rem;
    }

    .p-paginator .p-paginator-pages .p-paginator-page {
      background-color: transparent;
      border: 0 none;
      color: #6b7280;
      min-width: 3rem;
      height: 3rem;
      margin: 0;
      transition: box-shadow 0.2s;
      border-radius: 50%;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
      background: #EFF6F8;
      border: 2px solid rgb(15, 52, 76);
      color: #000000;
    }

    .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
      background: #f3f4f6;
      border-color: transparent;
      color: #000000;
    }

    .btn {
      margin: 26px 20px 10px;
      background-color: #0ea5e9;
      font-weight: 400;
      letter-spacing: 0.025rem;
      line-height: 1.7rem;
      border: none;
      padding: 8px 22px;
      margin-left: 470px;
    }
    .head{
      margin: 20px 0px 32px;
      font-size: 1.5625rem;
      letter-spacing: 0.25px;
      font-family: Roboto, sans-serif;
      text-align: center;
    }
  }
}