<div class="bc-card-container">
  <div class="bc-container-item-header">
    <h2 class="head">Başvurunu Bekleyen Etkinlikler</h2>
  </div>

  <div *ngFor="let bootcamp of bootcampList.items; let x = index" class="bc-container-item-card card item" [attr.id]="'card-' + (x + 1)"
    (click)="navigateToBootcampDetail(bootcamp)">

    <img
      src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Zk7d1MdoSJ6cEShVbfd0"
      class="card-img-top" alt="Course Image" style="object-fit: cover; height: 200px;">
    <div class="card-body">
      <h5 class="card-title" style="width: 100%;">{{ bootcamp.name }}</h5>
      <p class="card-text"> Kurs açıklaması </p>
    </div>


    <div class="card-footer bg-transparent">
      <div class="d-flex justify-content-between mt-2">
        <p class="bc-text-muted">Son Başvuru: <br> {{bootcamp.startDate.toString().substring(0,10)|deadLine:15}}</p>
        <button class="bc-btn">Başvur</button>
      </div>
    </div>

  </div>

  <div class="bc-container-item-footer">
    <button type="button" class="btn btn-success" (click)="navigateToBootcampsPage()">Tüm Etkinlikleri Gör</button>
  </div>
</div>
