<p-toast />
<div class="bc-card-container">
  <div class="bc-container-item-header">
    <h2 class="head" style="font-size: xx-large;">Başvurunu Bekleyen Etkinlikler</h2>
  </div>

  <div *ngFor="let bootcamp of bootcampList.items; let x = index" class="bc-container-item-card card item"
    [attr.id]="'card-' + (x + 1)" (click)="navigateToBootcampDetailPage(bootcamp)">

    <img [src]="bootcamp.bootcampImagePath" class="card-img-top" alt="Course Image"
      style="object-fit: cover; height: 200px;">
    <p-card>
      <p class="m-0" style="font-weight: 500;
        line-height: 1.3;
        font-size: 1.175rem; color: #10162f;">
        {{ bootcamp.name }}
      </p>
    </p-card>


    <div class="card-footer bg-transparent">
      <div class="d-flex justify-content-between mt-2">
        <p class="bc-text-muted">
          Son Başvuru:<br>
          <span style="font-size: 0.875rem; font-weight: 500; color: #1D1D1D">
            {{bootcamp.startDate.toString().substring(0,10)|deadLine:15}}
          </span>
        </p>
        <button class="bc-btn">Başvur</button>
      </div>
    </div>
  </div>

  <div class="bc-container-item-footer">
    <button type="button" class="show-more-button" (click)="navigateToBootcampsPage()">Tüm Etkinlikleri Gör <i
        data-feather="chevron-right"></i></button>
  </div>
</div>